<div class="sidebar">
  <header>
    <figure>
      <span class="smile">
        <img src="/assets/smile.svg" alt="smile">
      </span>
    </figure>
    <h1 class="blog-title">
      <a href="/">Daniel Bonifacio</a>
    </h1>
    <p>Especialista em desenvolvimento web, atualmente é instrutor de front-end na <a href="#">@algaworks</a>.</p>
  </header>
  <aside>
    <ul class="social-media">
      <li>
        <a href="https://instagram.com/danielbonifacio.dev" target="_blank">
          <img width="18px" src="/assets/instagram.svg" alt="instagram icon">
          meu instagram
        </a>
      </li>
      <li>
        <a href="https://youtube.com/particaonerd" target="_blank">
          <img width="18px" src="/assets/youtube.svg" alt="youtube icon">
          meu canal no youtube
        </a>
      </li>
    </ul>

    <p>
      <a href="/feed.xml">RSS Feed</a>
    </p>

    <p>
      &copy; 2021 Daniel Bonifacio
    </p>
  </aside>
</div>